{% if gw is defined %}
vrf context management
  ip route 0.0.0.0/0 {{ gw }}
{% endif -%}
{% if ip_address is defined -%}
interface mgmt 0
  ip address {{ ip_address }}/{{ mask }}
  no cdp enable
{% endif %}